.homeContainer {
  width: 70%;
  margin: 0 auto;
}
.homeHeader {
  margin: 0 10%;
  padding: 10px;
  text-align: left;
}
.homeContent {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.homeContentLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.homeContentLeft img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  object-fit: cover;
}
.homeContentRight {
  flex: 1;
  overflow: auto;
}
.homeContainer h1 {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.leftSperator {
  width: 150px;
  height: 2px;
  margin: 15px 0px;
  background: #055bb6;
}
.homeContent p {
  margin: 8px 0;
  text-align: justify;
  line-height: 1.7;
}
.homeContentRight a {
  text-decoration: none;
  color: #055bb6;
  font-weight: 600;
}
.homeContent a:hover {
  text-decoration: underline;
}
.hrf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12%;
}
.hrf a {
  display: flex;
  /* align-items: center; */
  text-decoration: none;
  color: #055bb6;
  font-weight: 600;
  margin: 8px 0;
}
.hrf a:hover {
  text-decoration: none;
}
.hrf svg {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.hrf span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}
@media screen and (max-width: 1100px) {
  .homeContentRight {
    max-height: 350px; 
  }
}
@media screen and (max-width: 700px) {
  .homeContentRight {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .homeContentLeft {
    max-height: 200px;
  }
}
@media screen and (max-height: 525px) {
  .homeContentRight {
    max-height: 200px; 
  }
  .homeContentLeft{
    display: none;
  }
}
@media screen and (max-height: 455px) {
  .homeContentRight {
    max-height: 150px;
  }
}
@media screen and (max-height: 405px) {
  .homeContentRight {
    max-height: 100px;
  }
}
@media screen and (max-height: 355px) {
  .homeContentRight {
    max-height: 50px;
  }
}
@media screen and (min-width: 1300px) {
  .homeContent {
    width: 95%;
  }
}