.researchContainer {
  width: 70%;
  margin: 0 auto;
}
.researchHeader {
  margin: 0 10%;
  padding: 10px;
  text-align: left;
}
.researchContent {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: auto;
}
.researchContainer h1 {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.leftSperator {
  width: 150px;
  height: 2px;
  margin: 15px 0px;
  background: #055bb6;
}

@media screen and (min-height: 800px) {
  .researchContent {
    max-height: 550px;
  }
}
@media screen and (max-height: 700px) {
  .researchContent {
    max-height: 400px;
  }
}
@media screen and (max-height: 600px) {
  .researchContent {
    max-height: 300px;
  }
}
@media screen and (max-height: 500px) {
  .researchContent {
    max-height: 200px;
  }
}
@media screen and (max-height: 400px) {
  .researchContent {
    max-height: 100px;
  }
}
@media screen and (max-height: 300px) {
  .researchContent {
    display: none;
  }
}
