.blogContainer {
    width: 70%;
    margin: 0 auto;
  }
  .blogHeader {
    margin: 0 10%;
    padding: 20px;
    text-align: left;
  }
  .blogContent {
    width: 90%;
    margin: 0 auto;
    display: flex;
  }
  .blogContainer h1 {
    margin: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .leftSperator {
    width: 150px;
    height: 2px;
    margin: 15px 0px;
    background: #055bb6;
  }
  